<!-- views/partials/footer.ejs -->
<footer class="footer mt-auto py-3 pt-4>
  <div class=" container">
  
  <div class="row">
    <div class="col-6">
      <p class="text-right text-muted">
    Copyright © 2008 - 2020, University of Technology, Jamaica <br>
    237 Old Hope Road, Kingston 6 |Tel: (876)927-1680-8 <br>
    Designed by Learning Technologies Support Unit (LTSU)
  </p>
    </div>
    <div class="col-6">
      <p class="text-left text-muted">
        Created by <a href="https://www.linkedin.com/in/deandra-jumpp-270639192/">Deandra Jumpp</a> <br>
        Alternative Industrial Work Experience Assement Summer 2020 <br>
      </p>
    </div>
  </div>
  </div>
</footer>