<!-- views/partials/footer.ejs -->
<footer class="footer mt-auto py-3>
  <div class=" container">
  <p class="text-center text-muted">
    Copyright © 2008 - 2020, University of Technology, Jamaica <br>
    237 Old Hope Road, Kingston 6 |Tel: (876)927-1680-8 <br>
    Designed by Learning Technologies Support Unit (LTSU)
  </p>
  </div>
</footer>