<div class="container">
    <nav class="navbar navbar-expand-lg  bg-inverse navbar-inverse">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class="nav-link" href="#">Home</a>
                <a class="nav-link" href="#">About UTech, Ja</a>
                <a class="nav-link" href="#">Admissions</a>
                <a class="nav-link" href="#">Campus Experience</a>
                <a class="nav-link" href="#">Alumni</a>
            </div>
        </div>
    </nav>
</div>