<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>

  <body>
    <% include ../partials/nav %>
    <div class="container pt-about">
      <div class="row">
        <div class="col-6 center">
          <img
            src="https://media-exp1.licdn.com/dms/image/C4E03AQEuTvTIWtW2Ew/profile-displayphoto-shrink_800_800/0?e=1604534400&v=beta&t=iEMnwtDr6Qbhxcl5oyQCrE6XtduBaW3DldAkyF4JOQE"
            class="rounded-circle float-right"
            alt="Deandra Jumpp Profile Picture"
          />
        </div>
        <div class="col-6">
          <h5>About Me</h5>
          <H6>Deandra Jumpp</H6>
          <span>Bachelor's degree Electrical and Computer Engineering</span>
        </div>
      </div>
    </div>
    <% include ../partials/footer %> <% include ../partials/scripts %>
  </body>
</html>
