<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
  <div class="container">
    <% include ../partials/nav %>
    <% include ../partials/nav2 %>
  </div>

  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">ULABS works</h1>
        <p class="lead">Where students are safe while they learn.</p>
      </div>
    </div>

    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-6 shadow-sm">
              <img class="bd-placeholder-img card-img-top img-size"
                src="https://soe.lau.edu.lb/images/ele-lab-electromech_and_power-body.jpg"
                alt="">
              <div class="card-body">
                <p class="card-text"><b>Alternating Current Circuits Lab</b><br>
                  Open Portal to begin lab exercise.</br>
                  <ul>
                    <li>
                      <a href="/lab5">Alternating Current Circuits</a>
                    </li>
                    </ul>
                  </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 ">
            <div class="card mb-6 shadow-sm">
              <img class="bd-placeholder-img card-img-top img-size"
                src="https://images.slideplayer.com/16/5052460/slides/slide_11.jpg"
                alt="">
              <div class="card-body">
                <p class="card-text" a href="ULABSworks_Ofc.zip"><b>Superposition Lab</b><br>
                  Open Portal to begin lab exercise.</br>
                  <ul>
                    <li>
                      <a href="/lab1">Superposition</a>
                    </li>
                    <li>
                      <a href="/lab2">Thevenin's Theorem (Using Parallel Resistances)</a>
                    </li>
                    <li>
                      <a href="/lab3">Thevenin's Theorem (Using total Thevenin Resistance)</a>
                    </li>
                    <li>
                      <a href="/lab4">Thevenin's Theorem (Using Maximum Power Transfer)</a>
                    </li>
                  </ul>               
                  
                  <form method="get" action="ULABSworks_Ofc.zip">
                    <!-- <button type="submit" class="btn btn-primary" >Download</button> -->
                 </form>
                  </p>

                
                </div>
              </div>
            </div>
          <div class="col-md-6 pt-4">
            <div class="card mb-6 shadow-sm">
              <img class="bd-placeholder-img card-img-top img-size" 
                src="https://cdn.shopify.com/s/files/1/0026/1138/0342/products/Science-lab-manual-9hard-bound_1024x.jpg?v=1527237992"
                alt="">
              <div class="card-body">
                <p class="card-text"><b>Lab Manual</b><br>The laboratory exercises for Electrical Networks 2 is outlined in this portal.</br>
                  
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <form method="get" action="/pdfdocs/all_labmanuals.pdf">
                    <div class="btn-group">
                      <button class="btn btn-primary" type="submit">View Manual</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
            <div class="col-md-6 pt-4">
              <div class="card mb-6 shadow-sm">
                <img class="bd-placeholder-img card-img-top  img-size" 
                  src="https://www.circuitlogix.com/images/misc/3DLabII.jpg"
                  alt="">
                <div class="card-body">
                  <p class="card-text"><b>Two Port Network Lab</b><br>
                     Click download for ULABS works software.Follow the instructions provided 
                    by attached notepad file in zip folder and use to complete Two Ports lab.</br>
                    <form method="get" action="download/ULABSworks_Ofc1.zip">
                      <button type="submit" class="btn btn-primary" >Download</button>
                   </form>
                    </p>
                  
                  </div>
                </div>
              </div>
          </div>

         
          </div>
        </div>
      </div>

      <% include ../partials/footer %>
      <% include ../partials/scripts %>
</body>
</html>

