<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <% include ../partials/nav %>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Alternating Current Circuits</h1>
                <p class="lead">Alternating current is a periodically varying current,
                    the average value of which,
                    over a period, is zero.
                </p>
            </div>
        </div>
    </div>
    <div class="container pb-xl-5">

        <div class="">
            <img src="images\ACurrent.png" alt="">
        </div>

        <form id="lab1" method="POST" action="/cal_lab5">

            <div class="form-group row">
                <label for="r1" class="col-sm-4 col-form-label">Enter Resistance [R1]</label>
                <div class="col-sm-4">
                    <input  step="any" type="number" class="form-control" id="r1" name="r1" placeholder="">
                </div>
                <label for="r1" class=" col-form-label">&#8486;</label>
            </div>

            <div class="form-group row">
                <label for="r2" class="col-sm-4 col-form-label">Enter Resistance [R2]</label>
                <div class="col-sm-4">
                    <input step="any" type="number" class="form-control" id="r2" name="r2" placeholder="">
                </div>
                <label for="r2" class=" col-form-label">&#8486;</label>
            </div>


            <div class="form-group row">
                <label for="r3" class="col-sm-4 col-form-label">Enter Resistance [R3]</label>
                <div class="col-sm-4">
                    <input step="any" type="number" class="form-control" id="r3" name="r3" placeholder="">
                </div>
                <label for="r3" class=" col-form-label">&#8486;</label>
            </div>


            <div class="form-group row">
                <label for="r4" class="col-sm-4 col-form-label">Enter Resistance [R4]</label>
                <div class="col-sm-4">
                    <input step="any" type="number" class="form-control" id="r4" name="r4" placeholder="">
                </div>
                <label for="r4" class=" col-form-label">&#8486;</label>
            </div>

            <div class="form-group row">
                <label for="r5" class="col-sm-4 col-form-label">Enter Resistance [R5]</label>
                <div class="col-sm-4">
                    <input step="any" type="number" class="form-control" id="r5" name="r5" placeholder="">
                </div>
                <label for="r5" class=" col-form-label">&#8486;</label>
            </div>

            <div class="form-group row">
                <label for="l2" class="col-sm-4 col-form-label">Enter Inductance [L2]</label>
                <div class="col-sm-4">
                    <input step="any" type="number" class="form-control" id="l2" name="l2" placeholder="">
                </div>
                <label for="l2" class=" col-form-label">H</label>
            </div>

            <div class="form-group row">
                <label for="l5" class="col-sm-4 col-form-label">Enter Inductance [L5]</label>
                <div class="col-sm-4">
                    <input step="any" type="number" class="form-control" id="l5" name="l5" placeholder="">
                </div>
                <label for="l5" class=" col-form-label">H</label>
            </div>

            <div class="form-group row">
                <label for="c4" class="col-sm-4 col-form-label">Enter Capacitance [C4]</label>
                <div class="col-sm-4">
                    <input step="any" type="number" class="form-control" id="c4" name="c4" placeholder="">
                </div>
                <label for="c4" class=" col-form-label">F</label>
            </div>

            <div class="form-group row">
                <label for="c5" class="col-sm-4 col-form-label">Enter Capacitance [C5]</label>
                <div class="col-sm-4">
                    <input step="any" type="number" class="form-control" id="c5" name="c5" placeholder="">
                </div>
                <label for="c5" class=" col-form-label">F</label>
            </div>



            <div class="col">
                <div class="col-sm-4">
                    <hr>
                </div>
            </div>


            <div class="form-group row">
                <label for="f" class="col-sm-4 col-form-label">Enter frequency value [Fz]</label>
                <div class="col-sm-4">
                    <input step="any" type="number" class="form-control" id="f" name="f" placeholder="">
                </div>
                <label for="f" class=" col-form-label">Hz</label>
            </div>

            <br>

            <div class="form-group row">
                <label for="v_diff" class="col-sm-4 col-form-label">Enter expected potential difference between A and B
                    [Vab]</label>
                <div class="col-sm-4">
                    <input step="any" type="number" class="form-control" id="v_diff" name="v_diff" placeholder="">
                </div>
                <label for="v_diff" class=" col-form-label">V</label>
            </div>

            </br>

            <button type="submit" type="button" class="btn btn-success">Calculate</button>

        </form>
    </div>



    <% include ../partials/footer %>
    <% include ../partials/scripts %>
</body>

</html>